.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  height: 100px;
  border-radius: 200px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.profile-name {
  font-size: 1.06rem;
  color: #ffffff;
}
